alembic==1.18.4
aniso8601==9.0.1
annotated-types==0.7.0
apispec==6.10.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asgiref==3.8.1
attrs==25.1.0
autocommand==2.2.2
backports.tarfile==1.2.0
blinker==1.8.2
cffi==2.0.0
cheroot==10.0.1
click==8.1.7
colorama==0.4.6
Deprecated==1.3.1
dnspython==2.6.1
email_validator==2.2.0
et_xmlfile==2.0.0
Flask==3.0.3
flask-cors==6.0.1
Flask-JWT-Extended==4.7.1
Flask-Limiter==3.8.0
flask-smorest==0.47.0
greenlet==3.1.1
h11==0.16.0
idna==3.7
importlib_resources==6.5.2
inflect==7.3.1
itsdangerous==2.2.0
jaraco.collections==5.0.1
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
Jinja2==3.1.6
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
limits==5.8.0
Mako==1.3.12
markdown-it-py==4.2.0
MarkupSafe==2.1.5
marshmallow==4.3.0
mdurl==0.1.2
more-itertools==10.3.0
numpy==2.2.3
openpyxl==3.1.5
ordered-set==4.1.0
packaging==26.2
pandas==2.2.3
portend==3.2.0
psycopg2-binary==2.9.10
pycparser==2.23
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
PyJWT==2.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
referencing==0.36.2
rich==13.9.4
rpds-py==0.22.3
setuptools==80.9.0
six==1.16.0
spectree==2.0.1
SQLAlchemy==2.0.37
tempora==5.6.0
typeguard==4.3.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.1
uvicorn==0.34.0
webargs==8.7.1
Werkzeug==3.1.3
wrapt==2.2.0
zc.lockfile==3.0.post1
